div.image {
  height: 200px;
  width: 200px;
  font-size: 100px;
  text-align: center;
  line-height: 200px;
  background-color: azure;
  border: 1px solid black;
  margin: 10px;
}

#board {
  display: flex;

}

header {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
}